.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

@media screen and (min-width: 801px) {
  .column {
    flex: 1;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
