@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100');
$font-stack-sans: Roboto, Arial, sans-serif;
$font-stack-serif: 'Roboto Slab', 'Times New Roman', serif;
$navColor: rgba(255, 255, 255, .8);
$primary: #efeee9;
$secondary: #353535;
$transition: all .3s ease-out;

@mixin transition($val) {
-webkit-transition: $val;
   -moz-transition: $val;
    -ms-transition: $val;
        transition: $val;
}

* {
  box-sizing: border-box;
  font-family: $font-stack-sans;
}

html {
  overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

body {
  background-color: $primary;
}

.header__logo {
  letter-spacing: .4em;
  font-weight: 400;
  text-transform: uppercase;
}

.header__nav--desktop {
  align-items: center;
  background-color: $navColor;
  justify-content: center;
  position: fixed;
  top: 0;
  @include transition($transition);
  left: 0;
  width: 100vw;
  z-index: 1;
}

.header__nav--toggled {
  height: 7vw !important;
}

.header__navlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navlist--link {
  font-size: .75rem;
  letter-spacing: .4em;
  text-decoration: none;
  text-transform: uppercase;
}

.header__navlist--link:hover {
  border-bottom: 1px solid $secondary;
}

.jumbo {
  background-image: url('../img/jumbo.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  // margin: 0 calc(50% - 50vw);
  height: 100vh;
  // overflow: hidden;
  // width: 100vw;
}

.jumbo__title {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}

.about {
  background-color: transparent;
  min-height: 100vh;
}

.about__card {
  background-color: #fff;
  margin: 15vh 0;
}

.about__title {
  text-align: center;
  font-family: $font-stack-serif;
  font-size: 2rem;
  margin-top: 12vh;
  text-transform: uppercase;
  font-weight: 300;
}

.about__desc {
  font-weight: 300;
  margin: 5vh auto;
  width: calc(100%*(8/12));
}

.button {
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  font-size: .9rem;
  font-weight: 900;
  margin: 1em auto;
  padding: 1em 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include transition($transition);
}

.button:hover {
  transform: scale(1.2);
}

.portfolio__title {
  color: #fff !important;
  font-size: 1.5rem;
  font-weight: 300;
  left: 50%;
  margin: 0;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%,-50%);
}

.portfolio__entry:hover > .portfolio__title {
  z-index: 10;
}

.portfolio__entry:nth-child(1) > .portfolio__body {
  background-image: url("../img/portfolio01.png");
}
.portfolio__entry:nth-child(2) > .portfolio__body {
  background-image: url("../img/portfolio02.png");
}
.portfolio__entry:nth-child(3) > .portfolio__body {
  background-image: url("../img/portfolio03.png");
}
.portfolio__entry:nth-child(4) > .portfolio__body {
  background-image: url("../img/portfolio04.png");
}
.portfolio__entry:nth-child(5) > .portfolio__body {
  background-image: url("../img/portfolio05.png");
}
.portfolio__entry:nth-child(6) > .portfolio__body {
  background-image: url("../img/portfolio06.png");
}

.portfolio__body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.portfolio__body::before {
  background-color: #000;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  @include transition($transition);
}

.portfolio__entry:hover > .portfolio__body::before {
  opacity: .7;
}

.separator {
  background-color: transparent;
  min-height: 60vh;
  position: relative;
}

.separator__title {
  font-weight: 100;
  font-size: 1.7rem;
  letter-spacing: .05em;
  margin: auto;
  text-align: center;
  width: calc(100%*(8/12));
}

.product__photo {
  background-image: url("../img/buttons.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.product__desc {
  align-items: center;
  background-color: #fff;
  max-width: 50%;
  justify-content: center;
}

@media (min-width: 960px) {
.product__desc--wrapper {
  width: 50%;
  }
}

.product__title {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .4em;
  text-transform: uppercase;
}

.product__text {
  font-weight: 300;
  line-height: 1.5rem;
}

.articles {
  background-color: transparent;
  min-height: 50vh;
  }

.articles__item {
  background-color: #fff;
}

.article__title {
  text-align: center;
  font-size: .9rem;
  font-weight: 700;
}

.article__desc {
  font-weight: 300;
  font-size: .8rem;
  text-align: center;
}

.article__link {
  color: #4eaeff !important;
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
}

.footer__contact {
  background-color: $secondary;
  height: 45vh;
}

.contact__info {
  color: $primary;
  justify-content: center;
  padding: 0 5%;
  max-width: 50%;
}

.contact__desc {
  line-height: 1.2rem;
  font-size: .8rem;
  font-weight: 300;
}

.contact__number {
  color: $primary !important;
  font-size: .8rem;
  text-decoration: none;
}

.contact__title {
  font-size: .8rem;
  font-weight: 700;
  margin-bottom: .25rem;
}

.contact__email {
  color: $primary !important;
  font-size: .8rem;
  text-decoration: none;
}

.contact__map {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.footer {
  background-color: $secondary;
}

.footer__socialmedia {
  background-color: $primary;
}

.footer__socialmedia--buttons {
  color: $secondary;
  @include transition($transition);
}

.footer__socialmedia--buttons:hover {
  transform: scale(2);
}

.footer__copyright {
  background-color: $primary;
  font-weight: 300;
}